<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">  {{serverRes && serverRes.title}}  </h2>
            <div class="meta mb-3"><span class="date"> {{serverRes && serverRes.created_date | date:'mediumDate'}}</span>  </div>
        </header>
        
        <div class="blog-post-body">
            <figure class="blog-banner">
            <a href="#">
             <img class="img-fluid" src="http://localhost:8082/static/{{serverRes && serverRes.img_name}}" alt="image"></a>
              
            </figure>
            <p>{{serverRes && serverRes.content}} </p>
        </div>
       
        </div>
        </article>
            