<div id="footer">
    <p>Copyright &copy; 2020 - <a href="http://all-free-download.com/free-website-templates/">Website Name</a> &middot; All Rights Reserved | Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="http://all-free-download.com/free-website-templates/">Free CSS Templates</a></p>
  </div>
  <input type="button" (click)="callPromise()" value="click to call promise"/>
  <!-- END footer -->
  <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
